* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e7e7e7;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Estilos del header */
.header-index {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 2rem;
}

.container-header {
    width: 80%;
    height: 5vh;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.container-logo {
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.nav ul li {
    margin-left: 20px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos de la sección hero */
.botonWhatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
}


.container-main {
    height: 93vh;
    display: flex;
}

.section1 {
    background-color: #e7e7e7;
    height: 93vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section1 img {
    width: 45%;
}

.section2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.406), rgba(0, 0, 0, 0.401)), url(../img/imgen5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 93vh;
    width: 50vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta-buttons .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: goldenrod;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.cta-buttons .btn:hover {
    background-color: rgb(197, 141, 0);
}

.btn-primary {
    background-color: #007BFF;
}

.btn-secondary {
    background-color: #28A745;
}

.hero {
    text-align: center;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
}

/* Estilos de las secciones */

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

section p,
section ul {
    font-size: 1.1rem;
    text-align: center;
}

/* Estilos sobre Nosotros*/

.container-nosotros {
    min-height: 60vh;
}

.about {
    padding: 60px 0;
    text-align: center;
}

.about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-content img {
    max-width: 35%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    flex: 1;
}

.about-text {
    max-width: 600px;
    margin: 0 20px;
    flex: 1;
}

.about-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: left;
}

/* Estilos de la lista de servicios */
.container-servicios {
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-section{
    display: flex;
}

.container-servicios{
    width: 50vw;
}

.container-info2{
    width: 50vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.406), rgba(0, 0, 0, 0.401)), url(../img/imagen4.jpeg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.division{
    width: 50vw;
    border: 20px solid #28a7466c;
}

.container-info2{
    color: white;
}

.botonAqui{
    color: white;
}

.botonAqui:hover{
    text-decoration: underline;
    color: red;
}

.services {
    background-color: #f9f9f9;
    /* Color de fondo para la sección de servicios */
    padding-top: 60px;
    /* Espacio en la parte superior de la sección */
}

.service {
    text-align: center;
    /* Alinear el contenido al centro */
    margin-bottom: 40px;
    /* Espacio entre cada servicio */
}

.service img {
    width: 80px;
    /* Tamaño del icono */
    margin-bottom: 20px;
    /* Espacio entre el icono y el título */
}

.service h3 {
    font-size: 24px;
    /* Tamaño del título */
    margin-bottom: 10px;
    /* Espacio entre el título y el texto */
}

.service p {
    font-size: 16px;
    /* Tamaño del texto */
    color: #666;
    /* Color del texto */
}


/* Estilos contacto */
.container-contacto {
    background-image: linear-gradient(rgba(0, 0, 0, 0.552), rgba(0, 0, 0, 0.552)), url(../img/imagen2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
}

.section-contacto1 {
    color: white;
    height: 93vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whatsapp {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatsapp a h2 {
    color: white;
}

.span-mail {
    text-decoration: none;
    color: white;
}

.span-mail:hover {
    color: goldenrod;
    text-decoration-line: none;
}

.section-contacto2 {
    color: white;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

form {
    background-color: rgba(0, 0, 0, 0.743);
    width: 30vw;
    height: 75vh;
    border-radius: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.contact label {
    font-size: 1rem;
    margin: 10px 0 5px 30px;
    align-self: start;
}

.contact input,
.contact textarea {
    width: 85%;
    max-width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.asterisco{
    color: red;
}

.button {
    padding: 10px 20px;
    font-size: 1rem;
    width: 6rem !important;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: rgb(129, 210, 129);
}

/* Estilos politicas de privacidad */

.politicas-section {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.politicas-section section {
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
}

.politicas-section h2 {
    color: #333;
    margin-bottom: 10px;
}
.mail-politicas {
    color: black;
}

.mail-politicas :hover{
    color: red;
}

@media (max-width: 768px) {
    .politicas-section {
        width: 95%;
    }

    h2 {
        font-size: 18px;
    }
}

/* face verificacion */

.faceVerificacion-section{
    height: auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentacion{
    width: 50%;
}



/* Estilos del footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: left;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.footer-section p,
.footer-section ul,
.footer-section li {
    font-size: 1rem;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section .socials a {
    display: inline-block;
    margin-right: 10px;
}

.footer-section .socials img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #555;
    padding-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.9rem;
}


/* MEDIA QUERYES */

@media (min-width: 1200px) {
    .container-footer-contacto {
        display: flex;
        justify-content: space-between;
    }
}

/* Laptops grandes (ancho entre 1024px y 1200px) */

@media (min-width: 1025px) and (max-width: 1200px) {
    .container-contacto {
        flex-direction: row;
    }

    .section-contacto1,
    .section-contacto2 {
        width: 50%;
    }

    form {
        width: 40vw;
        height: 75vh;
    }

    .container-footer-contacto {
        display: flex;
        justify-content: space-between;
    }
}


/* Estilo para PCs de escritorio (ancho mayor a 1024px) */

/* HEADER - FOOTER */
@media (min-width: 1024px) {
    .container-header {
        width: 80%;
    }

    .nav ul li a {
        font-size: 1.2rem;
    }

    .footer-section h3 {
        font-size: 1.8rem;
    }

    .container-footer-contacto {
        display: flex;
        justify-content: space-between;
    }

    /* HERO - ABOUT */
    .container-main {
        height: 93vh;
    }

    .section1,
    .section2 {
        width: 50%;
    }

    .hero h2 {
        font-size: 3rem;
    }

    .hero p {
        font-size: 1.5rem;
    }

    .about{
        height: 60vh;
    }

    .about h2 {
        font-size: 2.5rem;
    }

    .about-text p {
        font-size: 1.2rem;
    }

    /*SERVICIOS*/
    .container-servicios {
        height: auto;
    }

    .services {
        padding: 60px 0;
    }

    .service {
        margin-bottom: 50px;
    }

    .service img {
        width: 100px;
    }

    .service h3 {
        font-size: 26px;
    }

    .service p {
        font-size: 18px;
    }

    /*CONTACT*/
    .container-contacto {
        flex-direction: row;
    }

    .section-contacto1,
    .section-contacto2 {
        width: 50%;
    }

    form {
        width: 25vw;
        height: 75vh;
    }
}


/* Estilo para laptops (ancho entre 768px y 1024px) */
@media (min-width: 768px) and (max-width: 1023px) {

    /*HEADER - FOOTER */
    .container-header {
        width: 90%;
    }

    .nav ul li a {
        font-size: 1.1rem;
    }

    .footer-section h3 {
        font-size: 1.6rem;
    }

    .container-footer-contacto {
        display: flex;
        justify-content: space-between;
    }


    /*HERO - ABOUT*/
    .container-main {
        flex-direction: column;
        height: auto;
    }

    .section1,
    .section2 {
        width: 100%;
        height: auto;
    }

    .section1 img {
        width: 300px;
    }

    .section2 {
        height: 40vh;
    }

    .hero h2 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1.2rem;
    }

    .about{
        height: 60vh;
    }

    .about h2 {
        font-size: 2.2rem;
    }

    .about-text p {
        font-size: 1.1rem;
    }

    /*SERVICIOS*/
    .services-section {
        flex-direction: column;
        height: auto;
    }

    .container-servicios{
        width: 100%;
        height: auto;
    }

    .container-info2{
        width: 100%;
        height: 60vh;
    }

    .division{
        width: 100vw;
        border: 5px solid #28a7466c;
    }

    .services {
        padding: 50px 0;
    }

    .service {
        margin-bottom: 40px;
    }

    .service img {
        width: 90px;
    }

    .service h3 {
        font-size: 24px;
    }

    .service p {
        font-size: 16px;
    }

    /*CONTACT*/
    .container-contacto {
        flex-direction: row;
    }

    .section-contacto1,
    .section-contacto2 {
        width: 50%;
    }

    .container-contacto h2 {
        font-size: 1.5rem;
    }

    form {
        width: 35vw;
        height: 75vh;
    }
}

/* Estilo para tablets (ancho entre 481px y 767px) */
@media (min-width: 481px) and (max-width: 767px) {

    /*HEADER - FOOTER*/
    .container-header {
        width: 95%;
        padding: 10px 0;
    }


    .footer .container {
        width: 95%;
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin: 20px 0;
        width: 100%;
    }


    .container-footer-contacto {
        display: flex;
        justify-content: space-between;
    }

    /*HERO - ABOUT*/
    .container-main {
        flex-direction: column;
        height: auto;
    }

    .section1,
    .section2 {
        width: 100%;
        height: auto;
    }

    .section1 {
        padding: 20px;
        height: 60vh;
    }

    .section2 {
        padding: 20px;
        height: 60vh;
    }

    .hero h2 {
        font-size: 1.5rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .about{
        height: 65vh;
    }

    .about-content {
        flex-direction: column;
    }

    .about h2 {
        font-size: 2rem;
    }

    .about-text p {
        font-size: 1rem;
    }

    /*SERVICIOS*/
    .services-section {
        flex-direction: column;
        height: auto;
    }

    .container-servicios{
        width: 100%;
        height: auto;
    }

    .container-servicios p{
        padding: 1rem;
    }

    .container-info2{
        width: 100%;
        height: 60vh;
    }

    .division{
        width: 100vw;
        border: 5px solid #28a7466c;
    }

    .services {
        padding: 40px 0;
    }

    .service {
        margin-bottom: 30px;
    }

    .service img {
        width: 80px;
    }

    .service h3 {
        font-size: 22px;
    }

    .service p {
        font-size: 15px;
    }

    /*CONTACT*/
    .container-contacto {
        flex-direction: column;
        height: auto;
        gap: 3rem;
    }

    .section-contacto1,
    .section-contacto2 {
        width: 100%;
        height: auto;
    }

    .container-contacto h2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    form {
        margin-bottom: 2rem;
        width: 60vw;
        height: auto;
    }

    .contact input,
    .contact textarea {
        width: 80%;
    }

    .botonWhatsapp {
        position: fixed;
        bottom: 30px;
        right: 10px;
    }

    .botonWhatsapp svg {
        width: 50px;
    }
}

/* Estilo para celulares (ancho menor a 480px) */
@media (max-width: 480px) {

    /*HEADER - FOOTER*/
    .container-header {
        width: 95%;
        padding: 10px 0;
    }

    .nav ul {
        align-items: center;
        gap: .5rem;
    }

    .nav ul li {
        margin-left: 0;
        margin-top: 10px;
    }


    .footer .container {
        width: 95%;
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin: 20px 0;
        width: 100%;
    }

    .container-footer-contacto {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .socials svg {
        width: 3rem;
    }


    /*HERO - ABOUT*/
    .container-main {
        flex-direction: column;
        height: auto;
    }

    .section1,
    .section2 {
        width: 100%;
        height: auto;
    }

    .section1 {
        padding: 20px;
        height: 70vh;

    }

    .section2 {
        padding: 20px;
        height: 60vh;

    }

    .hero h2 {
        font-size: 1.2rem;
    }

    .hero p {
        font-size: 0.9rem;
    }

    .cta-buttons .btn {
        font-size: 1rem;
        padding: 8px 16px;
    }

    .about-content {
        flex-direction: column;
    }

    .about-content img {
        max-width: 80%;
    }

    .about h2 {
        font-size: 1.8rem;
    }

    .about-text p {
        font-size: 0.9rem;
    }

    /*SERVICIOS*/

    .services-section {
        flex-direction: column;
        height: auto;
    }

    .container-servicios{
        width: 100%;
        height: auto;
    }

    .container-servicios p{
        padding: 1rem;
    }

    .services-section h2{
        font-size: 1.2rem;
    }

    .container-info2{
        width: 100%;
        height: 40vh;
    }

    .division{
        width: 100vw;
        border: 5px solid #28a7466c;
    }

    .services {
        padding: 30px 0;
    }

    .service {
        margin-bottom: 20px;
    }

    .service img {
        width: 70px;
    }

    .service h3 {
        font-size: 20px;
    }

    .service p {
        font-size: 14px;
    }

    /*CONTACT*/

    form {
        margin-bottom: 2rem;
        width: 60vw;
        height: auto;
    }

    .contact input,
    .contact textarea {
        width: 80%;
    }



    .container-contacto {
        flex-direction: column;
        height: auto;
        gap: 3rem;

    }

    .container-contacto h2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.3rem;
    }

    .section-contacto1,
    .section-contacto2 {
        width: 100%;
        height: auto;
    }

    form {
        width: 90vw;
        height: auto;
    }

    .contact input,
    .contact textarea {
        width: 90%;
    }

    .botonWhatsapp {
        position: fixed;
        bottom: 30px;
        right: 10px;
    }

    .botonWhatsapp svg {
        width: 55px;
    }

    .whatsapp svg {
        width: 40px;
        height: 40px;
    }

    .whatsapp h2 {
        font-size: 1.5rem;

    }

    .contact h2 {
        font-size: 1.5rem;
    }
}